.partners {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 134ff02aacae05d81f153a9ea133d4feb5145c3a
}
@media(max-width: 480px) {
    .partners {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        &__img {
            justify-self: center;
            width: 100px;
        }
    }
<<<<<<< HEAD
=======
=======
>>>>>>> 9368bb0208ac3e853ff7543cf79958bfde114818
>>>>>>> 134ff02aacae05d81f153a9ea133d4feb5145c3a
}