.partners {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
<<<<<<< HEAD
}
@media(max-width: 480px) {
    .partners {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        &__img {
            justify-self: center;
            width: 100px;
        }
    }
=======
>>>>>>> 9368bb0208ac3e853ff7543cf79958bfde114818
}