.recommend {
<<<<<<< HEAD
    width: 100%;
=======
<<<<<<< HEAD
    width: 100%;
=======
>>>>>>> 9368bb0208ac3e853ff7543cf79958bfde114818
>>>>>>> 134ff02aacae05d81f153a9ea133d4feb5145c3a
    &__flex {
        display: flex;
        gap: 10px;
    }

    &__yes {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    &__no {
        display: flex;
        gap: 5px;
        align-items: center;
    }
}