.nav-link {
    position: relative;

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 134ff02aacae05d81f153a9ea133d4feb5145c3a

    // &:after {
    //     content: "";
    //     position: absolute;
    //     width: 0;
    //     height: 2px;
    //     bottom: -5px;
    //     left: 0;
    //     background-color: #000;
    //     transition: 0.3s;
    // }

    // &:hover {
    //     &:after {
    //         width: 100%;
    //     }
    // }
    // &_active {
    //     /* text-decoration: line-through; */
    // }
<<<<<<< HEAD
=======
=======
    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: #000;
        transition: 0.3s;
    }

    &:hover {
        &:after {
            width: 100%;
        }
    }
    &_active {
        /* text-decoration: line-through; */
    }
>>>>>>> 9368bb0208ac3e853ff7543cf79958bfde114818
>>>>>>> 134ff02aacae05d81f153a9ea133d4feb5145c3a
}
