.header {
    border-bottom: 1px solid var(--gray);
}
.row {
<<<<<<< HEAD
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 10px 0;
    height: 45px;
=======
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
>>>>>>> 9368bb0208ac3e853ff7543cf79958bfde114818
    &__burger {
        display: none;
    }
}
.logo {
    width: 100px;
}

<<<<<<< HEAD
@media (max-width: 992px) {
    .row {
        grid-template-columns: 1fr auto 1fr;
        font-size: 15px;
    }
}
@media (max-width: 768px) {
    .columns__row {
        font-size: 14px;
    }
    .logo {
        width: 80px;
    }
}
@media (max-width: 560px) {
    .columns__row {
        grid-template-columns: 1fr auto;
        font-size: 13px;
    }
    .logo {
        display: none;
    }
}
@media (max-width: 480px) {
    .columns__row {
        font-size: 12px;
    }
}
@media(max-width: 320px) {
    .columns__row {
        font-size: 11px;
    }
}

=======
>>>>>>> 9368bb0208ac3e853ff7543cf79958bfde114818
@media (max-width: 768px) {
    .row__links {
        display: none;
    }
    .row__burger {
        display: flex;
    }
<<<<<<< HEAD

    // .columns__row {
    //     display: grid;
    //     grid-template-columns: repeat(3, 1fr);
    // }
    // .logo {
    //     justify-self: center;
    //     width: 80px;
    // }
=======
    .columns__row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .logo {
        justify-self: center;
    }
>>>>>>> 9368bb0208ac3e853ff7543cf79958bfde114818
}
