.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
        font-weight: bold;
        font-size: 20px;
    }

    .price {
        display: flex;
        gap: 10px;

        &__old {
            text-decoration: line-through;
        }
    }

    .color {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &__background {
            width: 26px;
            height: 26px;
        }
    }

    .sizes {
        display: flex;
        gap: 10px;

        &__size {
            padding: 5px 15px;
            border: 1px solid var(--gray);
        }
    }

    .quantity-product {
        display: flex;
        align-items: center;
        border: 1px solid var(--gray);
        width: fit-content;

        &__increment {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
        }
        &__decrement {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;

        }
        &__input {
            text-align: center;
            border: none;
            width: 70px;
            
            &:focus {
                box-shadow: none; 
            }

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
        }

    }

    .buttons {
        display: flex;
    }
}