.links {
<<<<<<< HEAD
    justify-self: end;
=======
<<<<<<< HEAD
    justify-self: end;
=======
>>>>>>> 9368bb0208ac3e853ff7543cf79958bfde114818
>>>>>>> 134ff02aacae05d81f153a9ea133d4feb5145c3a
    &__list {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__link {
        display: flex;
        gap: 10px;
    }
    &__item {
        &-logo {
            font-size: 18px;
        }
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 134ff02aacae05d81f153a9ea133d4feb5145c3a
        &:hover {
            color: rgb(124, 124, 124);
        }
    }
    
}
<<<<<<< HEAD
=======
=======
    }
}
>>>>>>> 9368bb0208ac3e853ff7543cf79958bfde114818
>>>>>>> 134ff02aacae05d81f153a9ea133d4feb5145c3a
