.user-comment {
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 134ff02aacae05d81f153a9ea133d4feb5145c3a
    display: flex;
    flex-direction: column;
    gap: 20px;
    // padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    min-height: 30vh;
    max-width: 65vw;
    min-width: 30vw;
    justify-content: space-between;
    &__close-button {
        display: flex;
        justify-content: end;
        margin-bottom: 20px;
        padding: 0 5px;
    }

    &__flex {
        width: 100%;
<<<<<<< HEAD
=======
=======
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    min-height: calc(100vh - 40px);
    justify-content: space-between;

    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__close-button {
        background-color: gray;
        padding: 10px;
        border-radius: 100%;
        display: flex;
>>>>>>> 9368bb0208ac3e853ff7543cf79958bfde114818
>>>>>>> 134ff02aacae05d81f153a9ea133d4feb5145c3a
    }

    &__title {
        display: flex;
        flex-direction: column;
    }

    &__comment {
        display: flex;
        flex-direction: column;

        &-text {
            min-height: 200px;
            border-radius: 6px;
            --tw-border-opacity: 1;
            border-color: rgb(209 213 219 / var(--tw-border-opacity));
        }
    }

    &__buttons {
        display: flex;
<<<<<<< HEAD
        justify-content: center;
=======
<<<<<<< HEAD
        justify-content: center;
=======
>>>>>>> 9368bb0208ac3e853ff7543cf79958bfde114818
>>>>>>> 134ff02aacae05d81f153a9ea133d4feb5145c3a
        gap: 10px;

        &-photo {
            border: 1px solid #000;
        }

        &-submit {
            border: 1px solid #fd9191;
        }
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 134ff02aacae05d81f153a9ea133d4feb5145c3a

        &-input {
            display: none;
        }
    }
}

.recommend-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media(max-width: 768px) {
    .user-comment {
        &__buttons {
            flex-direction: column;
        }
    }
}

<<<<<<< HEAD
=======
=======
    }
}
>>>>>>> 9368bb0208ac3e853ff7543cf79958bfde114818
>>>>>>> 134ff02aacae05d81f153a9ea133d4feb5145c3a
