.user {
    display: flex;
    gap: 20px;

    &__name {
        display: flex;
        flex-direction: column;
<<<<<<< HEAD
        // width: 190px !important;
        width: 100%;
=======
        width: 190px !important;
>>>>>>> 9368bb0208ac3e853ff7543cf79958bfde114818

        &-label {
            width: fit-content;
        }
    }

    &__email {
        display: flex;
        flex-direction: column;
<<<<<<< HEAD
        // width: 190px !important;
        width: 100%;
=======
        width: 190px !important;
>>>>>>> 9368bb0208ac3e853ff7543cf79958bfde114818

        &-label {
            width: fit-content;
        }
    }
<<<<<<< HEAD
}
@media(max-width: 768px) {
    .user {
        flex-direction: column;
        &__name {
            width: 100% !important;
        }
        &__email {
            width: 100% !important;
        }
    }
    .user-comment__flex {
        display: block !important;
    }
=======
>>>>>>> 9368bb0208ac3e853ff7543cf79958bfde114818
}