.user {
    display: flex;
    gap: 20px;

    &__name {
        display: flex;
        flex-direction: column;
        width: 190px !important;

        &-label {
            width: fit-content;
        }
    }

    &__email {
        display: flex;
        flex-direction: column;
        width: 190px !important;

        &-label {
            width: fit-content;
        }
    }
}