.product-page {
    &__grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .grid {
        @extend .product-page__grid;

        &__container {
            // display: grid;
            // grid-template-columns: repeat(2, 1fr);
            display: flex;
            // flex-direction: column;
            gap: 95px;

            &-wrapper {
                display: flex;
                flex-direction: column;
                gap: 20px;
                // align-items: center;
                justify-self: start;
            }

        }

        &__content {
            display: flex;
            gap: 20px;
        }
    }
}

@media(max-width: 992px) {
    .grid__content {
        display: flex;
        flex-direction: column;
    }
    .grid__container {
        display: flex;
        flex-direction: column;
        gap: 20px !important;
    }
    .grid__container-wrapper {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 50px !important;
    }
}

@media(max-width: 768px) {
    .grid__container-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        gap: 30px !important;
    }
}

@media(max-width: 320px) {
    .product-page {
        width: fit-content;
    }
}

