$blue: #0000FF;
$beige: #F5F5DC;
$black: #000000;
$brown: #A52A2A;
$ruby: #E0115F;
$darkbrown: #654321;
$pink: #FFC0CB;
$brightpink: #FF69B4;
$middlebrown: #8B4513;
$brightbrown: #D2691E;
$sand: #C2B280;
$camel: #C19A6B;
$lightblue: #ADD8E6;

$color-map: (
  "blue": $blue,
  "beige": $beige,
  "black": $black,
  "brown": $brown,
  "ruby": $ruby,
  "darkbrown": $darkbrown,
  "pink": $pink,
  "brightpink": $brightpink,
  "middlebrown": $middlebrown,
  "brightbrown": $brightbrown,
  "sand": $sand,
  "camel": $camel,
  "lightblue": $lightblue
);

@each $name, $color in $color-map {
  .color-#{$name} {
    background-color: $color;
  }
}
