.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4ea0ff;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  opacity: 0;
  visibility: hidden;
  transition: background-color .2s, opacity .2s, visibility .2s;

  &:hover {
    background-color: #248aff;
  }

  &__icon {
    width: 100%;
    height: 100%;
  }
  &_visible {
    opacity: 1;
    visibility: visible;
  }
}