.new {
    &__grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}

.scroll {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    display: flex;
    align-items: center;
}