.sales-top-header {
    background-color: #f88d59;
    text-align: center;
<<<<<<< HEAD
    padding: 5px 15px;
=======
    padding: 5px 0;
>>>>>>> 9368bb0208ac3e853ff7543cf79958bfde114818

    &__list {
        font-size: 13px;
        text-transform: uppercase;
    }

    &__link {
        
        &:hover {
            text-decoration: underline;
        }
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> 9368bb0208ac3e853ff7543cf79958bfde114818
