.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    height: 100%;

    &__title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        height: 50px;
    }
    &__btn {
        border-radius: 6px;
        width: 100%;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .wrapper {
        @extend .card-info__wrapper;

        &__price {
            display: flex;
            align-items: center;
            gap: 10px;

            &_old {
                font-size: 14px;
                text-decoration-line: line-through;
                color: rgb(119, 119, 119);
            }
        }
        &__color {
            width: 30px;
            height: 30px;
        }
    }

    &__sizes {
        min-height: 59px;
    }
}
