.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    height: 100%;

    &__title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        height: 50px;
    }
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======

    &__color {
    }
>>>>>>> 9368bb0208ac3e853ff7543cf79958bfde114818
>>>>>>> 134ff02aacae05d81f153a9ea133d4feb5145c3a
    &__btn {
        border-radius: 6px;
        width: 100%;
    }
<<<<<<< HEAD
    &__wrapper {
=======
<<<<<<< HEAD
    &__wrapper {
=======

    &__price-color {
>>>>>>> 9368bb0208ac3e853ff7543cf79958bfde114818
>>>>>>> 134ff02aacae05d81f153a9ea133d4feb5145c3a
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 134ff02aacae05d81f153a9ea133d4feb5145c3a
    .wrapper {
        @extend .card-info__wrapper;

        &__price {
            display: flex;
            align-items: center;
            gap: 10px;

            &_old {
                font-size: 14px;
                text-decoration-line: line-through;
                color: rgb(119, 119, 119);
            }
        }
        &__color {
            width: 30px;
            height: 30px;
        }
    }

<<<<<<< HEAD
=======
=======
>>>>>>> 9368bb0208ac3e853ff7543cf79958bfde114818
>>>>>>> 134ff02aacae05d81f153a9ea133d4feb5145c3a
    &__sizes {
        min-height: 59px;
    }
}
