@import './Colors.scss';

.color-switch {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
  // border: 2px solid transparent;
  transition: border 0.3s;
}

.color-switch_selected {
  // border: 2px solid black; // Или любой другой цвет, чтобы выделить выбранный элемент
}

@each $id, $color in $color-map {
  .color-switch-#{$id} {
    background-color: #{$color};
  }
}
