.search-panel {
<<<<<<< HEAD
    gap: 15px;

=======
<<<<<<< HEAD
    gap: 15px;

=======
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 45px;
>>>>>>> 9368bb0208ac3e853ff7543cf79958bfde114818
>>>>>>> 134ff02aacae05d81f153a9ea133d4feb5145c3a
    border-bottom: 1px solid var(--gray);

    &__flex {
        display: flex;
        align-items: center;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 134ff02aacae05d81f153a9ea133d4feb5145c3a
        justify-content: space-between;
        gap: 15px;
        width: 100%;
        height: 45px;
<<<<<<< HEAD
=======
=======
        gap: 15px;
        width: 100%;
>>>>>>> 9368bb0208ac3e853ff7543cf79958bfde114818
>>>>>>> 134ff02aacae05d81f153a9ea133d4feb5145c3a
    }

    &__input {
        width: 100%;
        font-size: 13px;
        outline: none;
        border: none;

        &:focus {
            box-shadow: none;
        }
    }
}


