.search-panel {
    gap: 15px;

    border-bottom: 1px solid var(--gray);

    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        width: 100%;
        height: 45px;
    }

    &__input {
        width: 100%;
        font-size: 13px;
        box-shadow: none;

        &:focus {
            box-shadow: none;
        }
        &:hover {
            box-shadow: none;
        }
    }
}
