.sign-in {
    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        // height: 100vh;
        background-color: #efefefc8;
        border-radius: 6px 0 0 6px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 50px;
    }

    &__logo {
        display: flex;
        justify-content: center;
        .logo {
            width: 120px;
        }
    }

    &__email {
        display: flex;
        flex-direction: column;
    }
    &__password {
        display: flex;
        flex-direction: column;
    }

    &__flex {
        display: flex;
        gap: 15px;
        align-items: center;
    }
    &__btn {
        text-transform: uppercase;
        padding: 10px 20px;
        background-color: #000;
        color: white;
        font-size: 14px;
        border-radius: 6px;
    }
    &__register-link {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}
.bold {
    font-weight: 700;
}
.flex {
    display: flex;
    // align-items: center;
    // justify-content: center;
    // padding: 50px;

    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    
    // border: 1px solid #000;
    height: 80vh;
    width: 60vw;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}