.nav {
    &__list {
        display: flex;
        gap: 10px;
<<<<<<< HEAD
        &-item:hover {
            color: rgb(124, 124, 124);
        }
=======
<<<<<<< HEAD
        &-item:hover {
            color: rgb(124, 124, 124);
        }
=======
>>>>>>> 9368bb0208ac3e853ff7543cf79958bfde114818
>>>>>>> 134ff02aacae05d81f153a9ea133d4feb5145c3a
    }
}

  