.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    button {
        margin: 0 5px;
        padding: 8px 16px;
        border: none;
        background-color: #f0f0f0;
        cursor: pointer;
    }

    .active {
        background-color: #007bff;
        color: white;
    }

    button[disabled] {
        background-color: #e0e0e0;
        cursor: not-allowed;
    }
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 134ff02aacae05d81f153a9ea133d4feb5145c3a

@media(max-width: 340px) {
    .pagination {
        flex-direction: column;
    }
}
<<<<<<< HEAD
=======
=======
>>>>>>> 9368bb0208ac3e853ff7543cf79958bfde114818
>>>>>>> 134ff02aacae05d81f153a9ea133d4feb5145c3a
