.all {
    position: relative;
}

.home__row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.filters {
    display: flex;
    justify-content: center;
}

.scroll {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    display: flex;
    align-items: center;
}
