.empty-cart {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    justify-items: center;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #fff;
<<<<<<< HEAD
    align-items: center;
=======
<<<<<<< HEAD
    align-items: center;
=======
>>>>>>> 9368bb0208ac3e853ff7543cf79958bfde114818
>>>>>>> 134ff02aacae05d81f153a9ea133d4feb5145c3a

    &__logo {
        font-size: 26px;
    }
}