.sort {
    display: grid;
    grid-column: repeat(3, 1fr);
    padding: 0 15px;
    border-top: 1px solid var(--gray);

    &__list {
        height: 45px;
        display: flex;
        align-items: center;
        gap: 20px;
        justify-self: center;
        align-self: center;
        grid-column-start: 2;
        text-transform: uppercase;
        & > * {
            border-right: 1px solid var(--gray);
            padding: 0 15px;
            &:first-child {
                /* border-left: 1px solid var(--gray); */

                &::before {
                }
            }
        }
    }

    &__button {
        justify-self: end;
        grid-column-start: 3;
        text-transform: uppercase;
        padding: 0 15px;
    }
}
